@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;                         /* Sets dark sade of grey color because it makes good contrast with backgrond */
}

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;                         /* Sets medium sade of grey color because it makes good contrast with backgrond */
}

#logo {
    float: left;
    font-size: 280%;
}

/*  Navigation links
    ----------------     */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;                      /* Sets the virtual line for alignment (all allign heights are multiple of 75px as a design choice) */
}

#menu li {
    float:right;
    list-style-type: none;                  /* Removes bullets in list items */
    margin-right: 30px;
}

#menu a {
    text-decoration: none;                  /* Removes underline in links */
    color: inherit;                         /* inherit the body element color (dark grey) but allows for any easy future color style change*/
}

#menu a:hover {                             
    border-bottom: 1px solid #3a3a3a;     /* Draws a grey underline when we hover over a nav menu option.  TODO: check if color can be inherited */
}

.active {                             
    border-bottom: 1px solid #3a3a3a;     /* Draws a grey underline when we hover over a nav menu option  TODO: check if color can be inherited */
}

/*  Hero Image
    ----------     */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;                       /* Clears the header and main menu from the background image overlaping */
}
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;
    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;                 /* Sets the transformation (zoom) duration */ 
    animation-fill-mode: forwards;          /* Keeps the final image as the background */
}
/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);                /* Sets start the image at 100% */
    }
    to {
        transform: scale(1.1);              /* Sets end the image at 110% */
    }
}